<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Shutter Cart </title>
  <link href="https://fonts.googleapis.com/css?family=Imprima" rel="stylesheet" type="text/css">

  <link href="@Url.Content("~/css/font-awesome/css/font-awesome.css")" rel="stylesheet">
  <link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet" />
  <link href="@Url.Content("~/css/toastr/toastr.css")" rel="stylesheet">
  <link href="@Url.Content("~/css/login.css")" rel="stylesheet">

</head>

<body>

  <div class="left" style="background-image:url('/img/pay-atm3.jpg')">
  </div>

  <div class="container-fluid body-content center-block">
    <div class="row ">
      <div class="right">
        <h3 align="center">  Shutter Cart</h3> <br />

      </div>
      <p style="margin-top:35%">
        <h5 style=" font-family: 'Tangerine', serif;" align="center">&copy; Copyright  | All right reserved. @DateTime.Now.Year </h5>
      </p>
    </div>

  </div>


  <script src="@Url.Content("~/js/jquery/dist/jquery.min.js")"></script>

  @*<script src="@Url.Content("~/Scripts/libs/angular/angular.min.js")"></script>

  <script src="@Url.Content("~/Scripts/libs/angular-animate/angular-animate.min.js")"></script>
  <script src="@Url.Content("~/Scripts/libs/angular-ui-router/release/angular-ui-router.min.js")"></script>


  <script src="@Url.Content("~/Scripts/libs/bootstrap/bootstrap.min.js")"></script>
  <script src="@Url.Content("~/Scripts/libs/bootstrap/ui-bootstrap-tpls-0.11.0.js")"></script>


  <!-- Charting Libraries -->
  <script src="@Url.Content("~/Scripts/libs/Chart/Chart.min.js")"></script>
  <script src="@Url.Content("~/Scripts/libs/toastr/toastr.min.js")"></script>


  <!-- Module -->
  <script src="@Url.Content("~/Scripts/app/infrastructure/modules.js")"></script>
  <script src="@Url.Content("~/Scripts/app/account/app.js")"></script>

  <!-- Utils -->
  <script src="@Url.Content("~/Scripts/app/infrastructure/Utils/constants.js")"></script>
  <script src="@Url.Content("~/Scripts/app/infrastructure/Utils/Interceptors.js")"></script>

  <!-- Services -->
  <script src="@Url.Content("~/Scripts/app/infrastructure/model/models.js")"></script>
  <script src="@Url.Content("~/Scripts/app/infrastructure/Services/storage.js")"></script>
  <script src="@Url.Content("~/Scripts/app/infrastructure/Services/notify.js")"></script>
  <script src="@Url.Content("~/Scripts/app/infrastructure/Services/file.js")"></script>
  <script src="@Url.Content("~/Scripts/app/infrastructure/Services/http.js")"></script>
  <script src="@Url.Content("~/Scripts/app/infrastructure/Services/domain.js")"></script>


  <!-- Controllers -->

  <script src="@Url.Content("~/Scripts/app/account/controller.js")"></script>*@

</body>
</html>
